
<body>
    <div id="home" class="home">
      <div class="text-vcenter">
      <h1 class="hometext">Welcome</h1>
      </div>
    </div>
  <div id='info'>
      <div class="col-sm-12 text-center" id="infoText">
        <ul>
          <li>Real pieces from Africa</li>
          <li>Ethically sourced</li>
          <li>Handmade</li>
        </ul>
      </div>
      <div id="background">
        <div id="join" class="text-vcenter">
          <h1><a [routerLink]="['home']">Add to catalogue now!</a></h1>
        </div>
      </div>
  </div>

  <script>

  
  
  </script>

</body>

